.product-container{
  height: 300px;
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
}
.rubik-type{
  background-color: lightblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}
.rubik-product{
  border-style: solid;
}
.rubik-picture{
  width: 100%;
}
.purchase-button{
  width: 100%;
  background-color: yellow;
  height: 30px;
  border-color: rgba(23, 20, 20, 0.459);
}
.purchase-button:hover{
  cursor: pointer;
  opacity: 0.5;
}
